{% extends 'base.html' %}

{% block content %}
<div class="messages">
    <center>
        {% if message %}
        <div class="alert alert-{{ message_type }}">
            {{ message }}
        </div>
        {% endif %}
    </center>
</div>

<div class="row">
    <div class="col-12">
        <div class="box">
            <form action="/add_shipment" method="post">
                <div class="box-body">
                    <div class="row">
                        <div class="col-md-6 col-sm-12 mb-24">
                            <div class="form-group">
                                <label class="form-label">Shipment Code</label>
                                <input class="form-control" placeholder="Enter Shipment Code" value="{{shipment_code}}" name="shipment_code"
                                    readonly>
                            </div>
                        </div>

                        <div class="col-md-6 col-sm-12 mb-24">
                            <div class="form-group"> <label class="form-label">Sender</label> <select name="sender"
                                    class="form-control custom-select select2 select2-hidden-accessible"
                                    data-placeholder="Select Sender" tabindex="-1" aria-hidden="true">
                                    <option label="Select Sender"></option>
                                    {% for user in users %}
                                    <option value="{{ user.id }}">{{ user.first_name }} {{ user.last_name }}</option>
                                    {% endfor %}
                                </select> </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 col-sm-12 mb-24">
                            <div class="form-group"> <label class="form-label">Receiver</label> <input
                                    class="form-control" placeholder="Enter Receiver's Name" name="receiver"> </div>
                        </div>
                        <div class="col-md-6 col-sm-12 mb-24">
                            <div class="form-group"> <label class="form-label">Receiver Phone 1</label> <input name="receiver_phone1"
                                    class="form-control" placeholder="Enter Receiver's Phone 1"> </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 col-sm-12 mb-24">
                            <div class="form-group"> <label class="form-label">Receiver Phone 2</label> <input name="receiver_phone2"
                                    class="form-control" placeholder="Enter Receiver's Phone 2"> </div>
                        </div>
                        <div class="col-md-6 col-sm-12 mb-24">
                            <div class="form-group"> <label class="form-label">Receiver City</label> <select name="receiver_city" 
                                    class="form-control custom-select select2 select2-hidden-accessible"
                                    data-placeholder="Select Receiver City" tabindex="-1" aria-hidden="true">
                                    <option label="Select Receiver City"></option>
                                    {% for city in syscity %}
                                    <option value="{{ city.id }}">{{ city.city }}</option>
                                    {% endfor %}
                                </select> </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 col-sm-12 mb-24">
                            <div class="form-group"> <label class="form-label">Receiver Address</label> <textarea
                                    class="form-control" placeholder="Enter Receiver's Address" rows="3" name="receiver_address"></textarea>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-12 mb-24">
                            <div class="form-group"> <label class="form-label">Price ( L.E )</label> <input
                                    class="form-control" placeholder="Enter Price" name="price"> </div>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-md-6 col-sm-12 mb-24">
                            <div class="form-group"> <label class="form-label">Status</label> <select name="status"
                                    class="form-control custom-select select2 select2-hidden-accessible"
                                    data-placeholder="Select Status" tabindex="-1" aria-hidden="true">
                                    <option label="Select Status"></option>
                                    <option value="Pending">Pending</option>
                                    <option value="Processing">Processing</option>
                                    <option value="Delivered">Delivered</option>
                                    <option value="Cancelled">Cancelled</option>
                                    <option value="Returned">Returned</option>
                                </select> </div>
                        </div>
                        <div class="col-md-6 col-sm-12 mb-24">

                            <div class="custom-controls-stacked d-lg-flex align-items-center">
                                <label class="form-label mt-1 fs-18 font-w500 color-primary">Payment Status:</label>
                                <label class="custom-control custom-radio success me-4">
                                    <input type="radio" class="custom-control-input" name="payment_status" value="Paid">
                                    <span class="custom-control-label">Paid</span>
                                </label>
                                <label class="custom-control custom-radio success me-4">
                                    <input type="radio" class="custom-control-input" name="payment_status"
                                        value="Unpaid">
                                    <span class="custom-control-label">Unpaid</span>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="gr-btn mt-15"> <a href="#" class="btn btn-danger btn-lg mr-15 fs-16">CLOSE</a> <button
                        class="btn btn-primary btn-lg fs-16" type="submit">SUBMIT</button> </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}